@model MOUNB.Models.User
<h3>В самом деле удалить?</h3>
<div>
    <h4>Пользователь</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input id="formButton" type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
<script>
    $("#formButton").on("click", function (e) {
        e.preventDefault();
        $.ajax({
            url: "@Url.Action("Delete"+ "/" + Model.Id)",
            type: "POST",
         data: $('form').serialize(),
            datatype: "json",
            success: function (result) {
            $("#dialogContent").html(result);
            }
        });
    });
</script>