@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    @Styles.Render("~/Content/css")
    <link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
</head>
<body>
    <div id="loadingDiv" class="loader"></div>
        <div class="row">
            <div class="col-md-4 column ui-sortable"></div>
            <div class="col-md-4 column ui-sortable">
                <h2>Вход в систему</h2>
            </div>
            <div class="col-md-4 column ui-sortable"></div>
        </div>
            <div class="row">
                <div class="col-md-3 column ui-sortable"></div>
                <div class="col-md-3 column ui-sortable">
                    @Html.Partial("ReaderLogin")
                </div>
                <div class="col-md-3 column ui-sortable">
                    @Html.Partial("UserLogin")
                </div>
                <div class="col-md-3 column ui-sortable"></div>
            </div>
</body>
</html>