@model MOUNB.Models.Reader

<div>
    <h4>Читатель</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.LibraryCardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibraryCardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfWorkStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfWorkStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>


